@page
@model WebApplicationDemo.Pages.StudentGroups.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<div class="row">
    <div class="col-12 col-md-4">
        <a asp-page="Create" class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-placement="top" title="Create group"></a>
    </div>
    <div class="col-12 col-md-8">
<form asp-page-handler="Filter">

        @{

            var sl = new List<SelectListItem>();
            sl.Add(new SelectListItem { Text = "StartWith" });
            sl.Add(new SelectListItem { Text = "EndWith" });
            sl.Add(new SelectListItem { Text = "Contains" });

        }
        Напрямок пошуку: @Html.DropDownList("searchDirection",sl))
        Назва: @Html.TextBox("SearchName") <input type="submit" value="Фільтрувати" />
</form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentGroup[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentGroup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal@(item.Id)">
                        Launch demo modal
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal@(item.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id">
                                        <input type="hidden" asp-for="@item.Id" />
                                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
