@page
@model WebApplicationDemo.Pages.StudentGroups.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col-12 col-md-4">
        <a asp-page="Create" class="bi bi-alarm" data-bs-toggle="tooltip" data-bs-placement="top" title="Create group"></a>
    </div>
    <div class="col-12 col-md-8">
<form asp-page-handler="Filter">

        @{

            var sl = new List<SelectListItem>();
            sl.Add(new SelectListItem { Text = "StartWith" });
            sl.Add(new SelectListItem { Text = "EndWith" });
            sl.Add(new SelectListItem { Text = "Contains" });

        }
        Напрямок пошуку: @Html.DropDownList("searchDirection",sl))
        Назва: @Html.TextBox("SearchName") <input type="submit" value="Фільтрувати" />
</form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentGroup[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentGroup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
